@charset "UTF-8";

@font-face {
  font-family: "wolverine";
  src:url("fonts/wolverine.eot");
  src:url("fonts/wolverine-.eot#iefix") format("embedded-opentype"),
    url("fonts/wolverine.woff") format("woff"),
    url("fonts/wolverine.ttf") format("truetype"),
    url("fonts/wolverine.svg#wolverine") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "wolverine" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "wolverine" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outline-vector-icons-pack-1:before {
  content: "\e226";
}
.icon-outline-vector-icons-pack-2:before {
  content: "\e227";
}
.icon-outline-vector-icons-pack-3:before {
  content: "\e228";
}
.icon-outline-vector-icons-pack-4:before {
  content: "\e229";
}
.icon-outline-vector-icons-pack-5:before {
  content: "\e22a";
}
.icon-outline-vector-icons-pack-6:before {
  content: "\e22b";
}
.icon-outline-vector-icons-pack-7:before {
  content: "\e22c";
}
.icon-outline-vector-icons-pack-14:before {
  content: "\e22d";
}
.icon-outline-vector-icons-pack-15:before {
  content: "\e22e";
}
.icon-outline-vector-icons-pack-16:before {
  content: "\e22f";
}
.icon-outline-vector-icons-pack-17:before {
  content: "\e230";
}
.icon-outline-vector-icons-pack-18:before {
  content: "\e231";
}
.icon-outline-vector-icons-pack-19:before {
  content: "\e232";
}
.icon-outline-vector-icons-pack-20:before {
  content: "\e233";
}
.icon-outline-vector-icons-pack-27:before {
  content: "\e234";
}
.icon-outline-vector-icons-pack-28:before {
  content: "\e235";
}
.icon-outline-vector-icons-pack-29:before {
  content: "\e236";
}
.icon-outline-vector-icons-pack-30:before {
  content: "\e237";
}
.icon-outline-vector-icons-pack-31:before {
  content: "\e238";
}
.icon-outline-vector-icons-pack-32:before {
  content: "\e239";
}
.icon-outline-vector-icons-pack-33:before {
  content: "\e23a";
}
.icon-outline-vector-icons-pack-40:before {
  content: "\e23b";
}
.icon-outline-vector-icons-pack-41:before {
  content: "\e23c";
}
.icon-outline-vector-icons-pack-42:before {
  content: "\e23d";
}
.icon-outline-vector-icons-pack-43:before {
  content: "\e23e";
}
.icon-outline-vector-icons-pack-44:before {
  content: "\e23f";
}
.icon-outline-vector-icons-pack-45:before {
  content: "\e240";
}
.icon-outline-vector-icons-pack-46:before {
  content: "\e241";
}
.icon-outline-vector-icons-pack-53:before {
  content: "\e242";
}
.icon-outline-vector-icons-pack-54:before {
  content: "\e243";
}
.icon-outline-vector-icons-pack-55:before {
  content: "\e244";
}
.icon-outline-vector-icons-pack-56:before {
  content: "\e245";
}
.icon-outline-vector-icons-pack-57:before {
  content: "\e246";
}
.icon-outline-vector-icons-pack-58:before {
  content: "\e247";
}
.icon-outline-vector-icons-pack-59:before {
  content: "\e248";
}
.icon-outline-vector-icons-pack-66:before {
  content: "\e249";
}
.icon-outline-vector-icons-pack-67:before {
  content: "\e24a";
}
.icon-outline-vector-icons-pack-68:before {
  content: "\e24b";
}
.icon-outline-vector-icons-pack-69:before {
  content: "\e24c";
}
.icon-outline-vector-icons-pack-70:before {
  content: "\e24d";
}
.icon-outline-vector-icons-pack-71:before {
  content: "\e24e";
}
.icon-outline-vector-icons-pack-72:before {
  content: "\e24f";
}
.icon-outline-vector-icons-pack-79:before {
  content: "\e250";
}
.icon-outline-vector-icons-pack-80:before {
  content: "\e251";
}
.icon-outline-vector-icons-pack-81:before {
  content: "\e252";
}
.icon-outline-vector-icons-pack-82:before {
  content: "\e253";
}
.icon-outline-vector-icons-pack-83:before {
  content: "\e254";
}
.icon-outline-vector-icons-pack-84:before {
  content: "\e255";
}
.icon-outline-vector-icons-pack-85:before {
  content: "\e256";
}
.icon-outline-vector-icons-pack-92:before {
  content: "\e257";
}
.icon-outline-vector-icons-pack-93:before {
  content: "\e258";
}
.icon-outline-vector-icons-pack-94:before {
  content: "\e259";
}
.icon-outline-vector-icons-pack-95:before {
  content: "\e25a";
}
.icon-outline-vector-icons-pack-96:before {
  content: "\e25b";
}
.icon-outline-vector-icons-pack-97:before {
  content: "\e25c";
}
.icon-outline-vector-icons-pack-98:before {
  content: "\e25d";
}
.icon-outline-vector-icons-pack-105:before {
  content: "\e25e";
}
.icon-outline-vector-icons-pack-106:before {
  content: "\e25f";
}
.icon-outline-vector-icons-pack-107:before {
  content: "\e260";
}
.icon-outline-vector-icons-pack-108:before {
  content: "\e261";
}
.icon-outline-vector-icons-pack-109:before {
  content: "\e262";
}
.icon-outline-vector-icons-pack-110:before {
  content: "\e263";
}
.icon-outline-vector-icons-pack-111:before {
  content: "\e264";
}
.icon-outline-vector-icons-pack-118:before {
  content: "\e265";
}
.icon-outline-vector-icons-pack-119:before {
  content: "\e266";
}
.icon-outline-vector-icons-pack-120:before {
  content: "\e267";
}
.icon-outline-vector-icons-pack-121:before {
  content: "\e268";
}
.icon-outline-vector-icons-pack-122:before {
  content: "\e269";
}
.icon-outline-vector-icons-pack-123:before {
  content: "\e26a";
}
.icon-outline-vector-icons-pack-124:before {
  content: "\e26b";
}
.icon-outline-vector-icons-pack-131:before {
  content: "\e26c";
}
.icon-outline-vector-icons-pack-132:before {
  content: "\e26d";
}
.icon-outline-vector-icons-pack-133:before {
  content: "\e26e";
}
.icon-outline-vector-icons-pack-134:before {
  content: "\e26f";
}
.icon-outline-vector-icons-pack-135:before {
  content: "\e270";
}
.icon-outline-vector-icons-pack-136:before {
  content: "\e271";
}
.icon-outline-vector-icons-pack-137:before {
  content: "\e272";
}
.icon-outline-vector-icons-pack-144:before {
  content: "\e273";
}
.icon-outline-vector-icons-pack-145:before {
  content: "\e274";
}
.icon-outline-vector-icons-pack-146:before {
  content: "\e275";
}
.icon-outline-vector-icons-pack-147:before {
  content: "\e276";
}
.icon-outline-vector-icons-pack-148:before {
  content: "\e277";
}
.icon-outline-vector-icons-pack-149:before {
  content: "\e278";
}
.icon-outline-vector-icons-pack-150:before {
  content: "\e279";
}
.icon-outline-vector-icons-pack-157:before {
  content: "\e27a";
}
.icon-outline-vector-icons-pack-158:before {
  content: "\e27b";
}
.icon-outline-vector-icons-pack-159:before {
  content: "\e27c";
}
.icon-outline-vector-icons-pack-160:before {
  content: "\e27d";
}
.icon-outline-vector-icons-pack-161:before {
  content: "\e27e";
}
.icon-outline-vector-icons-pack-162:before {
  content: "\e27f";
}
.icon-outline-vector-icons-pack-163:before {
  content: "\e280";
}
.icon-outline-vector-icons-pack-8:before {
  content: "\e281";
}
.icon-outline-vector-icons-pack-9:before {
  content: "\e282";
}
.icon-outline-vector-icons-pack-10:before {
  content: "\e283";
}
.icon-outline-vector-icons-pack-11:before {
  content: "\e284";
}
.icon-outline-vector-icons-pack-12:before {
  content: "\e285";
}
.icon-outline-vector-icons-pack-13:before {
  content: "\e286";
}
.icon-outline-vector-icons-pack-21:before {
  content: "\e287";
}
.icon-outline-vector-icons-pack-22:before {
  content: "\e288";
}
.icon-outline-vector-icons-pack-23:before {
  content: "\e289";
}
.icon-outline-vector-icons-pack-24:before {
  content: "\e28a";
}
.icon-outline-vector-icons-pack-25:before {
  content: "\e28b";
}
.icon-outline-vector-icons-pack-26:before {
  content: "\e28c";
}
.icon-outline-vector-icons-pack-34:before {
  content: "\e28d";
}
.icon-outline-vector-icons-pack-35:before {
  content: "\e28e";
}
.icon-outline-vector-icons-pack-36:before {
  content: "\e28f";
}
.icon-outline-vector-icons-pack-37:before {
  content: "\e290";
}
.icon-outline-vector-icons-pack-38:before {
  content: "\e291";
}
.icon-outline-vector-icons-pack-39:before {
  content: "\e292";
}
.icon-outline-vector-icons-pack-47:before {
  content: "\e293";
}
.icon-outline-vector-icons-pack-48:before {
  content: "\e294";
}
.icon-outline-vector-icons-pack-49:before {
  content: "\e295";
}
.icon-outline-vector-icons-pack-50:before {
  content: "\e296";
}
.icon-outline-vector-icons-pack-51:before {
  content: "\e297";
}
.icon-outline-vector-icons-pack-52:before {
  content: "\e298";
}
.icon-outline-vector-icons-pack-60:before {
  content: "\e299";
}
.icon-outline-vector-icons-pack-61:before {
  content: "\e29a";
}
.icon-outline-vector-icons-pack-62:before {
  content: "\e29b";
}
.icon-outline-vector-icons-pack-63:before {
  content: "\e29c";
}
.icon-outline-vector-icons-pack-64:before {
  content: "\e29d";
}
.icon-outline-vector-icons-pack-65:before {
  content: "\e29e";
}
.icon-outline-vector-icons-pack-73:before {
  content: "\e29f";
}
.icon-outline-vector-icons-pack-74:before {
  content: "\e2a0";
}
.icon-outline-vector-icons-pack-75:before {
  content: "\e2a1";
}
.icon-outline-vector-icons-pack-76:before {
  content: "\e2a2";
}
.icon-outline-vector-icons-pack-77:before {
  content: "\e2a3";
}
.icon-outline-vector-icons-pack-78:before {
  content: "\e2a4";
}
.icon-outline-vector-icons-pack-86:before {
  content: "\e2a5";
}
.icon-outline-vector-icons-pack-87:before {
  content: "\e2a6";
}
.icon-outline-vector-icons-pack-88:before {
  content: "\e2a7";
}
.icon-outline-vector-icons-pack-89:before {
  content: "\e2a8";
}
.icon-outline-vector-icons-pack-90:before {
  content: "\e2a9";
}
.icon-outline-vector-icons-pack-91:before {
  content: "\e2aa";
}
.icon-outline-vector-icons-pack-99:before {
  content: "\e2ab";
}
.icon-outline-vector-icons-pack-100:before {
  content: "\e2ac";
}
.icon-outline-vector-icons-pack-101:before {
  content: "\e2ad";
}
.icon-outline-vector-icons-pack-102:before {
  content: "\e2ae";
}
.icon-outline-vector-icons-pack-103:before {
  content: "\e2af";
}
.icon-outline-vector-icons-pack-104:before {
  content: "\e2b0";
}
.icon-outline-vector-icons-pack-112:before {
  content: "\e2b1";
}
.icon-outline-vector-icons-pack-113:before {
  content: "\e2b2";
}
.icon-outline-vector-icons-pack-114:before {
  content: "\e2b3";
}
.icon-outline-vector-icons-pack-115:before {
  content: "\e2b4";
}
.icon-outline-vector-icons-pack-116:before {
  content: "\e2b5";
}
.icon-outline-vector-icons-pack-117:before {
  content: "\e2b6";
}
.icon-outline-vector-icons-pack-125:before {
  content: "\e2b7";
}
.icon-outline-vector-icons-pack-126:before {
  content: "\e2b8";
}
.icon-outline-vector-icons-pack-127:before {
  content: "\e2b9";
}
.icon-outline-vector-icons-pack-128:before {
  content: "\e2ba";
}
.icon-outline-vector-icons-pack-129:before {
  content: "\e2bb";
}
.icon-outline-vector-icons-pack-130:before {
  content: "\e2bc";
}
.icon-outline-vector-icons-pack-138:before {
  content: "\e2bd";
}
.icon-outline-vector-icons-pack-139:before {
  content: "\e2be";
}
.icon-outline-vector-icons-pack-140:before {
  content: "\e2bf";
}
.icon-outline-vector-icons-pack-141:before {
  content: "\e2c0";
}
.icon-outline-vector-icons-pack-142:before {
  content: "\e2c1";
}
.icon-outline-vector-icons-pack-143:before {
  content: "\e2c2";
}
.icon-outline-vector-icons-pack-151:before {
  content: "\e2c3";
}
.icon-outline-vector-icons-pack-152:before {
  content: "\e2c4";
}
.icon-outline-vector-icons-pack-153:before {
  content: "\e2c5";
}
.icon-outline-vector-icons-pack-154:before {
  content: "\e2c6";
}
.icon-outline-vector-icons-pack-155:before {
  content: "\e2c7";
}
.icon-outline-vector-icons-pack-156:before {
  content: "\e2c8";
}
.icon-outline-vector-icons-pack-164:before {
  content: "\e2c9";
}
.icon-outline-vector-icons-pack-165:before {
  content: "\e2ca";
}
.icon-outline-vector-icons-pack-166:before {
  content: "\e2cb";
}
.icon-outline-vector-icons-pack-167:before {
  content: "\e2cc";
}
.icon-outline-vector-icons-pack-168:before {
  content: "\e2cd";
}
.icon-indians-icons-02:before {
  content: "\e2ce";
}
.icon-indians-icons-03:before {
  content: "\e2cf";
}
.icon-indians-icons-04:before {
  content: "\e2d0";
}
.icon-indians-icons-05:before {
  content: "\e2d1";
}
.icon-indians-icons-06:before {
  content: "\e2d2";
}
.icon-indians-icons-07:before {
  content: "\e2d3";
}
.icon-indians-icons-08:before {
  content: "\e2d4";
}
.icon-indians-icons-09:before {
  content: "\e2d5";
}
.icon-wolverine-logo-01:before {
  content: "\e2d6";
}
.icon-wolverine-logo-02:before {
  content: "\e2d7";
}
.icon-wolverine-logo-03:before {
  content: "\e2d8";
}
.icon-wolverine-logo-04:before {
  content: "\e2d9";
}
.icon-wolverine-logo-05:before {
  content: "\e2da";
}
.icon-wolverine-logo-06:before {
  content: "\e2db";
}
.icon-wolverine-logo-08:before {
  content: "\e2dc";
}
.icon-wolverine-logo-09:before {
  content: "\e2dd";
}
.icon-wolverine-logo-10:before {
  content: "\e2de";
}
.icon-address:before {
  content: "a";
}
.icon-adjust:before {
  content: "b";
}
.icon-air:before {
  content: "c";
}
.icon-alert:before {
  content: "d";
}
.icon-archive:before {
  content: "e";
}
.icon-arrow-combo:before {
  content: "f";
}
.icon-arrows-ccw:before {
  content: "g";
}
.icon-attach:before {
  content: "h";
}
.icon-attention:before {
  content: "i";
}
.icon-back:before {
  content: "j";
}
.icon-back-in-time:before {
  content: "k";
}
.icon-bag:before {
  content: "l";
}
.icon-basket:before {
  content: "m";
}
.icon-battery:before {
  content: "n";
}
.icon-behance:before {
  content: "o";
}
.icon-bell:before {
  content: "p";
}
.icon-block:before {
  content: "q";
}
.icon-book:before {
  content: "r";
}
.icon-book-open:before {
  content: "s";
}
.icon-bookmark:before {
  content: "t";
}
.icon-bookmarks:before {
  content: "u";
}
.icon-box:before {
  content: "v";
}
.icon-briefcase:before {
  content: "w";
}
.icon-brush:before {
  content: "x";
}
.icon-bucket:before {
  content: "y";
}
.icon-calendar:before {
  content: "z";
}
.icon-camera:before {
  content: "A";
}
.icon-cancel:before {
  content: "B";
}
.icon-cancel-circled:before {
  content: "C";
}
.icon-cancel-squared:before {
  content: "D";
}
.icon-cc:before {
  content: "E";
}
.icon-cc-by:before {
  content: "F";
}
.icon-cc-nc:before {
  content: "G";
}
.icon-cc-nc-eu:before {
  content: "H";
}
.icon-cc-nc-jp:before {
  content: "I";
}
.icon-cc-nd:before {
  content: "J";
}
.icon-cc-pd:before {
  content: "K";
}
.icon-cc-remix:before {
  content: "L";
}
.icon-cc-sa:before {
  content: "M";
}
.icon-cc-share:before {
  content: "N";
}
.icon-cc-zero:before {
  content: "O";
}
.icon-ccw:before {
  content: "P";
}
.icon-cd:before {
  content: "Q";
}
.icon-chart-area:before {
  content: "R";
}
.icon-chart-bar:before {
  content: "S";
}
.icon-chart-line:before {
  content: "T";
}
.icon-chart-pie:before {
  content: "U";
}
.icon-chat:before {
  content: "V";
}
.icon-check:before {
  content: "W";
}
.icon-clipboard:before {
  content: "X";
}
.icon-clock:before {
  content: "Y";
}
.icon-cloud:before {
  content: "Z";
}
.icon-cloud-thunder:before {
  content: "0";
}
.icon-code:before {
  content: "1";
}
.icon-cog:before {
  content: "2";
}
.icon-comment:before {
  content: "3";
}
.icon-compass:before {
  content: "4";
}
.icon-credit-card:before {
  content: "5";
}
.icon-cup:before {
  content: "6";
}
.icon-cw:before {
  content: "7";
}
.icon-database:before {
  content: "8";
}
.icon-db-shape:before {
  content: "9";
}
.icon-direction:before {
  content: "!";
}
.icon-doc:before {
  content: "\"";
}
.icon-doc-landscape:before {
  content: "#";
}
.icon-doc-text:before {
  content: "$";
}
.icon-doc-text-inv:before {
  content: "%";
}
.icon-docs:before {
  content: "&";
}
.icon-dot:before {
  content: "'";
}
.icon-dot-2:before {
  content: "(";
}
.icon-dot-3:before {
  content: ")";
}
.icon-down:before {
  content: "*";
}
.icon-down-bold:before {
  content: "+";
}
.icon-down-circled:before {
  content: ",";
}
.icon-down-dir:before {
  content: "-";
}
.icon-down-open:before {
  content: ".";
}
.icon-down-open-big:before {
  content: "/";
}
.icon-down-open-mini:before {
  content: ":";
}
.icon-down-thin:before {
  content: ";";
}
.icon-download:before {
  content: "<";
}
.icon-dribbble:before {
  content: "=";
}
.icon-dribbble-circled:before {
  content: ">";
}
.icon-drive:before {
  content: "?";
}
.icon-dropbox:before {
  content: "@";
}
.icon-droplet:before {
  content: "[";
}
.icon-erase:before {
  content: "]";
}
.icon-evernote:before {
  content: "^";
}
.icon-export:before {
  content: "_";
}
.icon-eye:before {
  content: "`";
}
.icon-facebook:before {
  content: "{";
}
.icon-facebook-circled:before {
  content: "|";
}
.icon-facebook-squared:before {
  content: "}";
}
.icon-fast-backward:before {
  content: "~";
}
.icon-fast-forward:before {
  content: "\\";
}
.icon-feather:before {
  content: "\e000";
}
.icon-flag:before {
  content: "\e001";
}
.icon-flash:before {
  content: "\e002";
}
.icon-flashlight:before {
  content: "\e003";
}
.icon-flattr:before {
  content: "\e004";
}
.icon-flickr:before {
  content: "\e005";
}
.icon-flickr-circled:before {
  content: "\e006";
}
.icon-flight:before {
  content: "\e007";
}
.icon-floppy:before {
  content: "\e008";
}
.icon-flow-branch:before {
  content: "\e009";
}
.icon-flow-cascade:before {
  content: "\e00a";
}
.icon-flow-line:before {
  content: "\e00b";
}
.icon-flow-parallel:before {
  content: "\e00c";
}
.icon-flow-tree:before {
  content: "\e00d";
}
.icon-folder:before {
  content: "\e00e";
}
.icon-forward:before {
  content: "\e00f";
}
.icon-gauge:before {
  content: "\e010";
}
.icon-github:before {
  content: "\e011";
}
.icon-github-circled:before {
  content: "\e012";
}
.icon-globe:before {
  content: "\e013";
}
.icon-google-circles:before {
  content: "\e014";
}
.icon-gplus:before {
  content: "\e015";
}
.icon-gplus-circled:before {
  content: "\e016";
}
.icon-graduation-cap:before {
  content: "\e017";
}
.icon-heart:before {
  content: "\e018";
}
.icon-heart-empty:before {
  content: "\e019";
}
.icon-help:before {
  content: "\e01a";
}
.icon-help-circled:before {
  content: "\e01b";
}
.icon-home:before {
  content: "\e01c";
}
.icon-hourglass:before {
  content: "\e01d";
}
.icon-inbox:before {
  content: "\e01e";
}
.icon-infinity:before {
  content: "\e01f";
}
.icon-info:before {
  content: "\e020";
}
.icon-info-circled:before {
  content: "\e021";
}
.icon-instagrem:before {
  content: "\e022";
}
.icon-install:before {
  content: "\e023";
}
.icon-key:before {
  content: "\e024";
}
.icon-keyboard:before {
  content: "\e025";
}
.icon-lamp:before {
  content: "\e026";
}
.icon-language:before {
  content: "\e027";
}
.icon-lastfm:before {
  content: "\e028";
}
.icon-lastfm-circled:before {
  content: "\e029";
}
.icon-layout:before {
  content: "\e02a";
}
.icon-leaf:before {
  content: "\e02b";
}
.icon-left:before {
  content: "\e02c";
}
.icon-left-bold:before {
  content: "\e02d";
}
.icon-left-circled:before {
  content: "\e02e";
}
.icon-left-dir:before {
  content: "\e02f";
}
.icon-left-open:before {
  content: "\e030";
}
.icon-left-open-big:before {
  content: "\e031";
}
.icon-left-open-mini:before {
  content: "\e032";
}
.icon-left-thin:before {
  content: "\e033";
}
.icon-level-down:before {
  content: "\e034";
}
.icon-level-up:before {
  content: "\e035";
}
.icon-lifebuoy:before {
  content: "\e036";
}
.icon-light-down:before {
  content: "\e037";
}
.icon-light-up:before {
  content: "\e038";
}
.icon-link:before {
  content: "\e039";
}
.icon-linkedin:before {
  content: "\e03a";
}
.icon-linkedin-circled:before {
  content: "\e03b";
}
.icon-list:before {
  content: "\e03c";
}
.icon-list-add:before {
  content: "\e03d";
}
.icon-location:before {
  content: "\e03e";
}
.icon-lock:before {
  content: "\e03f";
}
.icon-lock-open:before {
  content: "\e040";
}
.icon-login:before {
  content: "\e041";
}
.icon-logo-db:before {
  content: "\e042";
}
.icon-logout:before {
  content: "\e043";
}
.icon-loop:before {
  content: "\e044";
}
.icon-magnet:before {
  content: "\e045";
}
.icon-mail:before {
  content: "\e046";
}
.icon-map:before {
  content: "\e047";
}
.icon-megaphone:before {
  content: "\e048";
}
.icon-menu:before {
  content: "\e049";
}
.icon-mic:before {
  content: "\e04a";
}
.icon-minus:before {
  content: "\e04b";
}
.icon-minus-circled:before {
  content: "\e04c";
}
.icon-minus-squared:before {
  content: "\e04d";
}
.icon-mixi:before {
  content: "\e04e";
}
.icon-mobile:before {
  content: "\e04f";
}
.icon-monitor:before {
  content: "\e050";
}
.icon-moon:before {
  content: "\e051";
}
.icon-mouse:before {
  content: "\e052";
}
.icon-music:before {
  content: "\e053";
}
.icon-mute:before {
  content: "\e054";
}
.icon-network:before {
  content: "\e055";
}
.icon-newspaper:before {
  content: "\e056";
}
.icon-note:before {
  content: "\e057";
}
.icon-note-beamed:before {
  content: "\e058";
}
.icon-palette:before {
  content: "\e059";
}
.icon-paper-plane:before {
  content: "\e05a";
}
.icon-pause:before {
  content: "\e05b";
}
.icon-paypal:before {
  content: "\e05c";
}
.icon-pencil:before {
  content: "\e05d";
}
.icon-phone:before {
  content: "\e05e";
}
.icon-picasa:before {
  content: "\e05f";
}
.icon-picture:before {
  content: "\e060";
}
.icon-pinterest:before {
  content: "\e061";
}
.icon-pinterest-circled:before {
  content: "\e062";
}
.icon-play:before {
  content: "\e063";
}
.icon-plus:before {
  content: "\e064";
}
.icon-plus-circled:before {
  content: "\e065";
}
.icon-plus-squared:before {
  content: "\e066";
}
.icon-popup:before {
  content: "\e067";
}
.icon-print:before {
  content: "\e068";
}
.icon-progress-0:before {
  content: "\e069";
}
.icon-progress-1:before {
  content: "\e06a";
}
.icon-progress-2:before {
  content: "\e06b";
}
.icon-progress-3:before {
  content: "\e06c";
}
.icon-publish:before {
  content: "\e06d";
}
.icon-qq:before {
  content: "\e06e";
}
.icon-quote:before {
  content: "\e06f";
}
.icon-rdio:before {
  content: "\e070";
}
.icon-rdio-circled:before {
  content: "\e071";
}
.icon-record:before {
  content: "\e072";
}
.icon-renren:before {
  content: "\e073";
}
.icon-reply:before {
  content: "\e074";
}
.icon-reply-all:before {
  content: "\e075";
}
.icon-resize-full:before {
  content: "\e076";
}
.icon-resize-small:before {
  content: "\e077";
}
.icon-retweet:before {
  content: "\e078";
}
.icon-right:before {
  content: "\e079";
}
.icon-right-bold:before {
  content: "\e07a";
}
.icon-right-circled:before {
  content: "\e07b";
}
.icon-right-dir:before {
  content: "\e07c";
}
.icon-right-open:before {
  content: "\e07d";
}
.icon-right-open-big:before {
  content: "\e07e";
}
.icon-right-open-mini:before {
  content: "\e07f";
}
.icon-right-thin:before {
  content: "\e080";
}
.icon-rocket:before {
  content: "\e081";
}
.icon-rss:before {
  content: "\e082";
}
.icon-search:before {
  content: "\e083";
}
.icon-share:before {
  content: "\e084";
}
.icon-shareable:before {
  content: "\e085";
}
.icon-shuffle:before {
  content: "\e086";
}
.icon-signal:before {
  content: "\e087";
}
.icon-sina-weibo:before {
  content: "\e088";
}
.icon-skype:before {
  content: "\e089";
}
.icon-skype-circled:before {
  content: "\e08a";
}
.icon-smashing:before {
  content: "\e08b";
}
.icon-sound:before {
  content: "\e08c";
}
.icon-soundcloud:before {
  content: "\e08d";
}
.icon-spotify:before {
  content: "\e08e";
}
.icon-spotify-circled:before {
  content: "\e08f";
}
.icon-star:before {
  content: "\e090";
}
.icon-star-empty:before {
  content: "\e091";
}
.icon-stop:before {
  content: "\e092";
}
.icon-stumbleupon:before {
  content: "\e093";
}
.icon-stumbleupon-circled:before {
  content: "\e094";
}
.icon-suitcase:before {
  content: "\e095";
}
.icon-sweden:before {
  content: "\e096";
}
.icon-switch:before {
  content: "\e097";
}
.icon-tag:before {
  content: "\e098";
}
.icon-tape:before {
  content: "\e099";
}
.icon-target:before {
  content: "\e09a";
}
.icon-thermometer:before {
  content: "\e09b";
}
.icon-thumbs-down:before {
  content: "\e09c";
}
.icon-thumbs-up:before {
  content: "\e09d";
}
.icon-ticket:before {
  content: "\e09e";
}
.icon-to-end:before {
  content: "\e09f";
}
.icon-to-start:before {
  content: "\e0a0";
}
.icon-tools:before {
  content: "\e0a1";
}
.icon-traffic-cone:before {
  content: "\e0a2";
}
.icon-trash:before {
  content: "\e0a3";
}
.icon-trophy:before {
  content: "\e0a4";
}
.icon-tumblr:before {
  content: "\e0a5";
}
.icon-tumblr-circled:before {
  content: "\e0a6";
}
.icon-twitter:before {
  content: "\e0a7";
}
.icon-twitter-circled:before {
  content: "\e0a8";
}
.icon-up:before {
  content: "\e0a9";
}
.icon-up-bold:before {
  content: "\e0aa";
}
.icon-up-circled:before {
  content: "\e0ab";
}
.icon-up-dir:before {
  content: "\e0ac";
}
.icon-up-open:before {
  content: "\e0ad";
}
.icon-up-open-big:before {
  content: "\e0ae";
}
.icon-up-open-mini:before {
  content: "\e0af";
}
.icon-up-thin:before {
  content: "\e0b0";
}
.icon-upload:before {
  content: "\e0b1";
}
.icon-upload-cloud:before {
  content: "\e0b2";
}
.icon-user:before {
  content: "\e0b3";
}
.icon-user-add:before {
  content: "\e0b4";
}
.icon-users:before {
  content: "\e0b5";
}
.icon-vcard:before {
  content: "\e0b6";
}
.icon-video:before {
  content: "\e0b7";
}
.icon-vimeo:before {
  content: "\e0b8";
}
.icon-vimeo-circled:before {
  content: "\e0b9";
}
.icon-vkontakte:before {
  content: "\e0ba";
}
.icon-volume:before {
  content: "\e0bb";
}
.icon-water:before {
  content: "\e0bc";
}
.icon-window:before {
  content: "\e0bd";
}
.icon-wolverine-logo-07:before {
  content: "\e0be";
}
.icon-key21:before {
  content: "\e0bf";
}
.icon-password1:before {
  content: "\e0c0";
}
.icon-user14:before {
  content: "\e0c1";
}
.icon-shopping111:before {
  content: "\e126";
}
.icon-icon-search:before {
  content: "\e127";
}
.icon-arrow413:before {
  content: "\e0c2";
}
.icon-arrow427:before {
  content: "\e0c3";
}
.icon-wrong6:before {
  content: "\e0c4";
}
.icon-icon-opened29:before {
  content: "\e0c5";
}
.icon-icon-opened29-1:before {
  content: "\e0c6";
}
.icon-dark37:before {
  content: "\e0c7";
}
.icon-dark37-1:before {
  content: "\e0c8";
}
.icon-list23:before {
  content: "\e0c9";
}
.icon-menu27:before {
  content: "\e0ca";
}
.icon-menu45:before {
  content: "\e0cb";
}
.icon-menu53:before {
  content: "\e0cc";
}
.icon-menu55:before {
  content: "\e0cd";
}
.icon-list23-1:before {
  content: "\e0ce";
}
.icon-wrong6-1:before {
  content: "\e0cf";
}
.icon-previous11:before {
  content: "\e0d0";
}
.icon-thin36:before {
  content: "\e0d1";
}
.icon-thin35:before {
  content: "\e0d2";
}
.icon-up77:before {
  content: "\e0d3";
}
.icon-right106:before {
  content: "\e0d4";
}
.icon-next15:before {
  content: "\e0d5";
}
.icon-collapse3:before {
  content: "\e0d6";
}
.icon-expand22:before {
  content: "\e0d7";
}
.icon-play43:before {
  content: "\e0d8";
}
.icon-search-icon:before {
  content: "\e0d9";
}
.icon-cart-icon:before {
  content: "\e0da";
}
.icon-minus-1:before {
  content: "\e0db";
}
.icon-plus-1:before {
  content: "\e0dc";
}
.icon-185100-caddie-shop-shopping-streamline:before {
  content: "\e0dd";
}
.icon-185101-caddie-shopping-streamline:before {
  content: "\e0de";
}
.icon-ecommerce-bag:before {
  content: "\e0df";
}
.icon-ecommerce-bag-check:before {
  content: "\e0e0";
}
.icon-ecommerce-bag-cloud:before {
  content: "\e0e1";
}
.icon-ecommerce-bag-download:before {
  content: "\e0e2";
}
.icon-ecommerce-bag-minus:before {
  content: "\e0e3";
}
.icon-ecommerce-bag-plus:before {
  content: "\e0e4";
}
.icon-ecommerce-bag-refresh:before {
  content: "\e0e5";
}
.icon-ecommerce-bag-remove:before {
  content: "\e0e6";
}
.icon-ecommerce-bag-search:before {
  content: "\e0e7";
}
.icon-ecommerce-bag-upload:before {
  content: "\e0e8";
}
.icon-svg-icon-02:before {
  content: "\e0e9";
}
.icon-svg-icon-03:before {
  content: "\e0ea";
}
.icon-svg-icon-04:before {
  content: "\e0eb";
}
.icon-svg-icon-05:before {
  content: "\e0ec";
}
.icon-svg-icon-06:before {
  content: "\e0ed";
}
.icon-svg-icon-07:before {
  content: "\e0ee";
}
.icon-svg-icon-08:before {
  content: "\e0ef";
}
.icon-svg-icon-09:before {
  content: "\e0f0";
}
.icon-svg-icon-10:before {
  content: "\e0f1";
}
.icon-svg-icon-11:before {
  content: "\e0f2";
}
.icon-svg-icon-12:before {
  content: "\e0f3";
}
.icon-svg-icon-13:before {
  content: "\e0f4";
}
.icon-svg-icon-14:before {
  content: "\e0f5";
}
.icon-svg-icon-15:before {
  content: "\e0f6";
}
.icon-svg-icon-16:before {
  content: "\e0f7";
}
.icon-svg-icon-17:before {
  content: "\e0f8";
}
.icon-svg-icon-18:before {
  content: "\e0f9";
}


	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/05/2018 08:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
	
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

font-style: normal;
padding-right: 5px;
font-size: 20px;

}

.flaticon-profits-1:before { content: "\f100"; }
.flaticon-pie-chart:before { content: "\f101"; }
.flaticon-skyline:before { content: "\f102"; }
.flaticon-office-block:before { content: "\f103"; }
.flaticon-money:before { content: "\f104"; }
.flaticon-rupee:before { content: "\f105"; }
.flaticon-marijuana-plantation:before { content: "\f106"; }
.flaticon-light-bulb:before { content: "\f107"; }
.flaticon-industry:before { content: "\f108"; }
.flaticon-house:before { content: "\f109"; }
.flaticon-customer:before { content: "\f10a"; }
.flaticon-profits:before { content: "\f10b"; }
